{% extends 'layout_u.html' %}

{% block title %} Config {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Multi Config</h2>
        <br>
		<h3>Connected Devices</h3>
		<form action="" method="POST">
		<table class="table">
			<thead>
			<tr>
				<th>#</th>
				<th scope="col">UUID</th>
				<!--<th scope="col">Last Seen</th>-->
				<th scope="col">Machine</th>
				<th scope="col">Platform</th>
				<th scope="col">Python</th>
				<!--<th scope="col">Memory</th>-->
				<th scope="col">Socket</th>
				<th scope="col">Data</th>
	
			</tr>
			</thead>
			<tbody>
			{% for key, value in devices.items() %}
			{% if value.get('socket') %}
			<tr>
				<td><input type="checkbox" name="device" value="{{ key }}"></td>
				<td><a target="_blank" rel="noopener noreferrer" href="/dev/{{ key }}/">{{ key }}</a></td>
				{% if value.get('info') %}
				<td>{{ value.info.machine }}</td>
				<td>{{ value.info.platform }}</td>
				<td>{{ value.info.python }}</td>
				{% else %}
				<td colspan=3>No Info</td>
				{% endif %}
				<td>{{ value.socket }}</td>
				<td>
					<a href="/data/env">ENV</a>
					<a href="/data/env_live">LIVE</a>
				</td>
			</tr>
			{% endif %}
			{% endfor %}
			</tbody>
      </table>
		<h3>Config JSON:</h3>
			<div class="form-group">
			
			<textarea class="form-control" rows="5" name="config" >[{"type": "serial", "com": "COM5", "baud": 9600, "tag":"env"}]</textarea>
			<br>
			{% if info %}
			{% if info.status %}
			<div class="alert alert-success" role="alert">
				{{ info.text }}
			</div>
			{% else %}
			<div class="alert alert-danger" role="alert">
				{{ info.text }}
			</div>
			{% endif %}
			{% endif %}
			<input type="submit" class="btn btn-primary" value="Send" name="action">
			<input type="submit" class="btn btn-warning" value="Reset" name="action">
			</div>
		</form>
	<br>
	  
    </div>
</div>

{% endblock %}